<header class="app-header">
  <div class="container d-lg-flex align-items-center">

    <div class="header-brand">
      <img class="img-fluid w-100" src="assets/brand/vidalta-logo_color.svg" alt="{Brand Name} Logo, color" >
    </div>

    <div class="header-nav navbar navbar-expand-lg">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <nav id="mainNav" class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Our Properties</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </nav>
      <!-- /#mainNav -->

      <nav id="subNav">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa-solid fa-globe me-1"></i>Language</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa-regular fa-circle-question me-1"></i>Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa-regular fa-circle-user me-1"></i>Login</a>
          </li>
        </ul>
      </nav>
      <!-- /#subNav -->
    </div>
    <!-- /.header-nav -->
  </div>
  <!-- /.container -->
</header>
<!-- /.app-header -->