<section class="feature-section highlight-products">
  <div class="container text-center py-5">
    <div class="section-header">
      <h2>Disconnect. Enjoy complete peace of mind.</h2>
      <p class="header-support color-neutral">
        Our exclusive homes are equipped for a hassle-free vacation experience.
      </p>
    </div>
    <!-- /.section-header -->
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-3 mb-4">
        <div class="product-card product-card_grid">
          <div class="row g-0">
            <div class="card-image cropped-img">
              <div class="img-wrapper">
                <img
                  src="assets/img/product/cabin-in-mountains_rionegro.jpeg"
                  class="img-object"
                  alt="{Product Name}"
                />
              </div>
            </div>
            <!-- /.card-image -->
            <div class="card-data">
              <div class="card-data_body">
                <a
                  href="#product-detail"
                  class="product-card_link stretched-link"
                >
                  <h3 class="product-title">Beautiful Cabin in Mountains</h3>
                </a>
                <div class="product-location">
                  <div class="icon-note icon-note_sm">
                    <i class="material-symbols-outlined">location_on</i>
                    Rionegro, Antioquia
                  </div>
                </div>
                <!-- /.product-location -->
              </div>
              <!-- /.card-data_body -->
            </div>
            <!-- /.card-data -->
          </div>
          <!-- /.row.g-0 -->
        </div>
        <!-- /.product-card_grid -->
      </div>
      <!-- /.col-sm-6 col-lg-3 mb-4 -->
      <div class="col-12 col-sm-6 col-lg-3 mb-4">
        <div class="product-card product-card_grid">
          <div class="row g-0">
            <div class="card-image cropped-img">
              <div class="img-wrapper">
                <img
                  src="assets/img/product/key-west-in-orlando_home.jpeg"
                  class="img-object"
                  alt="{Product Name}"
                />
              </div>
            </div>
            <!-- /.card-image -->
            <div class="card-data">
              <div class="card-data_body">
                <a
                  href="#product-detail"
                  class="product-card_link stretched-link"
                >
                  <h3 class="product-title">Key West House in Orlando</h3>
                </a>
                <div class="product-location">
                  <div class="icon-note icon-note_sm">
                    <i class="material-symbols-outlined">location_on</i>
                    Orlando, Florida
                  </div>
                </div>
                <!-- /.product-location -->
              </div>
              <!-- /.card-data_body -->
            </div>
            <!-- /.card-data -->
          </div>
          <!-- /.row.g-0 -->
        </div>
        <!-- /.product-card_grid -->
      </div>
      <!-- /.col-12 col-sm-6 col-lg-3 mb-4 -->
      <div class="col-12 col-sm-6 col-lg-3 mb-4">
        <div class="product-card product-card_grid">
          <div class="row g-0">
            <div class="card-image cropped-img">
              <div class="img-wrapper">
                <img
                  src="assets/img/product/oasis-in-st-pete_boat.jpeg"
                  class="img-object"
                  alt="{Product Name}"
                />
              </div>
            </div>
            <!-- /.card-image -->
            <div class="card-data">
              <div class="card-data_body">
                <a
                  href="#product-detail"
                  class="product-card_link stretched-link"
                >
                  <h3 class="product-title">Oasis Catamaran in St. Pete</h3>
                </a>
                <div class="product-location">
                  <div class="icon-note icon-note_sm">
                    <i class="material-symbols-outlined">location_on</i>
                    St. Petersburg, Florida
                  </div>
                </div>
                <!-- /.product-location -->
              </div>
              <!-- /.card-data_body -->
            </div>
            <!-- /.card-data -->
          </div>
          <!-- /.row.g-0 -->
        </div>
        <!-- /.product-card_grid -->
      </div>
      <!-- /.col-12 col-sm-6 col-lg-3 mb-4 -->
      <div class="col-12 col-sm-6 col-lg-3 mb-4">
        <div class="product-card product-card_grid">
          <div class="row g-0">
            <div class="card-image cropped-img">
              <div class="img-wrapper">
                <img
                  src="assets/img/product/finca_rionegro.jpeg"
                  class="img-object"
                  alt="{Product Name}"
                />
              </div>
            </div>
            <!-- /.card-image -->
            <div class="card-data">
              <div class="card-data_body">
                <a
                  href="#product-detail"
                  class="product-card_link stretched-link"
                >
                  <h3 class="product-title">Family Home on the Hills</h3>
                </a>
                <div class="product-location">
                  <div class="icon-note icon-note_sm">
                    <i class="material-symbols-outlined">location_on</i>
                    Rionegro, Antioquia
                  </div>
                </div>
                <!-- /.product-location -->
              </div>
              <!-- /.card-data_body -->
            </div>
            <!-- /.card-data -->
          </div>
          <!-- /.row.g-0 -->
        </div>
        <!-- /.product-card_grid -->
      </div>
      <!-- /.col-12 col-sm-6 col-lg-3 mb-4 -->
    </div>
    <!-- /.row -->
    <div class="row justify-content-center mt-3">
      <div class="col-auto">
        <a class="btn btn-lg btn-primary px-4" href="#product-listing"
          >View all vacation homes</a
        >
      </div>
    </div>
  </div>
  <!-- /.container text-center py-5 -->
</section>
<!-- /.feature-section highlight-products -->
