<section class="hero-intro">
  <div class="container text-center py-4">
    <div class="col-lg-9 mx-auto">
      <img class="d-block mx-auto mb-2" src="assets/brand/vidalta-logo_crest.png" alt="{Brand Name} Logo, crest" width="150">
      <h1 class="display-5 fw-bold text-body-emphasis">Vacation rentals with higher standards</h1>
      <p class="fs-5 text-muted">
        Indulge in the ultimate luxury escape, where every stay is an unforgettable experience – the <b>Vidalta Experience</b>. <i>New website coming soon!</i> 
      </p>
      <div class="cta cta-group d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-5">Our Properties</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-5">Our Standards</button>
      </div>
    </div>
  </div>
</section>
<!-- /.hero-intro -->