/*** PRODUCT CARDS ***/

/* product-card common styles */
.product-card {
	position: relative;
	width: 100%;
	height: 100%;
	box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.15);
	transition: 0.3s;
	border-radius: 6px;
	text-align: left;
	overflow: hidden;
}

.product-card>.row {
	background-color: #ffffff;
}

.product-card a {
	text-decoration: none;
}

.product-card .card-data {
	padding: 1rem;
	font-size: 0.875rem;
}

.product-card .product-title,
.product-card .product-location,
.product-card .product-description,
.product-card .product-price {
	margin-bottom: 0.5rem;
}

.product-card .card-image .img-wrapper {
	position: relative;
	padding-top: 56.25%;
}

.product-card .card-image .img-wrapper img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.product-card h3.product-title {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1.25rem;
	font-weight: 600;
}

.product-card .product-details {
	display: flex;
	flex-wrap: wrap;
	margin-top: auto;
}

.product-card .product-description {
	position: relative;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	max-height: 100%;
	overflow: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.product-card .card-data_action {
	position: relative;
}

.product-card .product-rating {
	text-align: right;
	color: #977547;
}

.product-card .product-price {
	text-align: right;
	font-size: 1.25rem;
	font-weight: 700;
	margin-top: auto;
}

.product-card .support-text {
	font-size: 1rem;
	font-weight: 400;
	color: #6c757d;
}

/* product-card_grid styles */
.product-card_grid .card-data {
	padding: 1rem 0.5rem;
}

.product-card_grid h3.product-title {
	font-size: 1rem;
}

.product-card_grid .product-description,
.product-card_grid .product-details,
.product-card_grid .card-data_action {
	display: none;
}

.product-card_grid .product-location {
	margin-bottom: 0;
}

/* product-card_listing styles */
.product-card_listing .card-data {
	padding: 1rem;
}

.product-card_listing .card-data,
.product-card_listing .card-data_body,
.product-card_listing .card-data_action,
.product-card_listing .product-details {
	display: flex;
}

.product-card_listing .card-data_body,
.product-card_listing .card-data_action {
	flex-direction: column;
}

.product-card_listing .product-location {
	position: relative;
}

@media (min-width: 992px) {
	.product-card_listing .card-image {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.product-card_listing .card-data {
		flex: 0 0 75%;
		max-width: 75%;
		flex-direction: row;
	}

	.product-card_listing .card-data_body {
		padding-right: 1rem;
	}

	.product-card_listing .card-data_action {
		flex: 0 0 35%;
		max-width: 150px;
		margin-left: auto;
	}
}

@media (max-width: 991.98px) {
	.product-card_listing .card-image {
		flex: 0 0 40%;
		max-width: 40%;
	}

	.product-card_listing .card-data {
		flex: 0 0 60%;
		max-width: 60%;
		flex-direction: column;
	}

	.product-card_listing .card-data_body {
		margin-bottom: auto;
	}

	.product-card .card-data_action {
		margin-top: 0.5rem;
	}
}

@media (max-width: 575.98px) {
	.product-card_listing .card-image {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.product-card_listing .card-data {
		flex: 0 0 100%;
		max-width: 100%;
		display: block;
	}

	.product-card_listing .product-details .icon-note {
		margin-bottom: 5px;
	}
}

/* END: PRODUCT CARD */