<div class="hero-spotlight hero-spotlight_gallery p-2">
  <div class="row g-2">
    <div class="col-md-3 d-none d-md-block">
      <div class="row g-2 g-md-0 h-100">
        <div class="col-md-12">
          <div class="hero-image cropped-img">
            <div class="img-wrapper h-50">
              <a
                href="javascript:void(0);"
                data-bs-toggle="modal"
                data-bs-target="#productImageGallery_modal"
              >
                <img
                  src="assets/img/product/rionegro_cabin/6ffea2aa-6f68-4432-9a7f-05f73e196db6.webp"
                  class="img-object"
                  alt="{Product Name}"
                />
              </a>
            </div>
          </div>
          <!-- /.hero-image -->
        </div>
        <!-- /.col-md-12 -->
        <div class="col-md-12">
          <div class="hero-image cropped-img">
            <div class="img-wrapper h-50">
              <a
                href="javascript:void(0);"
                data-bs-toggle="modal"
                data-bs-target="#productImageGallery_modal"
              >
                <img
                  src="assets/img/product/rionegro_cabin/43c2e2f1-9125-4db5-94d3-7289b956ec66.webp"
                  class="img-object"
                  alt="{Product Name}"
                />
              </a>
            </div>
          </div>
          <!-- /.hero-image -->
        </div>
        <!-- /.col-md-12 -->
      </div>
      <!-- /.row g-2 g-md-0 -->
    </div>
    <!-- /.col-md-3 d-none d-md-block -->
    <div class="col-12 col-md-6 mb-md-2">
      <div class="hero-image cropped-img">
        <div class="img-wrapper h-100">
          <a
            href="javascript:void(0);"
            data-bs-toggle="modal"
            data-bs-target="#productImageGallery_modal"
          >
            <img
              src="assets/img/product/rionegro_cabin/df0e323c-0055-4513-8c7f-0a2643433ac3.webp"
              class="img-object"
              alt="{Product Name}"
            />
          </a>
        </div>
      </div>
    </div>
    <!-- /.col-12 col-md-6 mb-md-2 -->
    <div class="col-12 col-md-3">
      <div class="row g-2 h-100">
        <div class="col-6 col-md-12">
          <div class="hero-image cropped-img">
            <div class="img-wrapper h-50">
              <a
                href="javascript:void(0);"
                data-bs-toggle="modal"
                data-bs-target="#productImageGallery_modal"
              >
                <img
                  src="assets/img/product/rionegro_cabin/876867ee-31c5-435e-8f82-6d67483b7a1f.webp"
                  class="img-object"
                  alt="{Product Name}"
                />
              </a>
            </div>
          </div>
          <!-- /.hero-image -->
        </div>
        <div class="col-6 col-md-12">
          <div class="hero-image cropped-img">
            <div class="img-wrapper h-50">
              <a
                href="javascript:void(0);"
                data-bs-toggle="modal"
                data-bs-target="#productImageGallery_modal"
              >
                <img
                  src="assets/img/product/rionegro_cabin/595c8815-db5a-4677-8587-4ed902d5d234.webp"
                  class="img-object"
                  alt="{Product Name}"
                />
              </a>
            </div>
          </div>
          <!-- /.hero-image -->
        </div>
        <!-- /.col-6 col-md-12 -->
      </div>
      <!-- /.row g-2 -->
    </div>
    <!-- /.col-12 col-md-3 -->
  </div>
  <!-- /.row g-2 -->
  <div class="hero-cta hero-cta_gallery">
    <div class="container-lg">
      <a
        class="btn btn-sm btn-secondary_outline px-4 opacity-75"
        href="javascript:void(0);"
        data-bs-toggle="modal"
        data-bs-target="#productImageGallery_modal"
        >See all photos</a
      >
    </div>
    <!-- /.container-lg -->
  </div>
  <!-- /.hero-cta_gallery -->
</div>
<!-- /.hero-spotlight_gallery -->
