<section class="hero-media lg">
  <div class="media-cropped">
    <div class="cropped-media-wrapper lg">
      <img class="hero-image" src="assets/img/hero/pexels-photo-12902831.jpeg" alt="{Destination Type} in {Destination Name}">
    </div>
  </div>
  <!-- /.media-cropped -->
  <div class="hero-overlay">
    <div class="container-lg">
      <div class="hero-text">
        <h1 class="mb-3">Discover a new breed of vacation homes</h1>
      </div>
      <!-- /.hero-text -->
      <div class="hero-cta">
        <div class="input-group">
          <input type="text" class="form-control form-control-lg" placeholder="Enter your e-mail for updates" aria-label="Recipient's email" aria-describedby="newsletterSignup">
          <button class="btn btn-lg btn-primary px-4" type="button" id="newsletterSignup">Sign up</button>
        </div>
      </div>
      <!-- /.hero-cta -->
    </div>
    <!-- /.container-lg -->
  </div>
  <!-- /.hero-overlay -->
</section>
<!-- /.hero-media-->