<div class="product-card product-card_list">
  <div class="row g-0">
    <div class="card-image cropped-img">
      <div class="img-wrapper">
        <a href="#product-detail">
          <img
            src="assets/img/product/key-west-in-orlando_home.jpeg"
            class="img-object"
            alt="{Product Name}"
          />
        </a>
      </div>
    </div>
    <!-- /.card-image -->
    <div class="card-data">
      <div class="card-data_body">
        <a href="#product-detail" class="product-card_link">
          <h3 class="product-title">Key West House in Orlando</h3>
        </a>
        <div class="product-location">
          <div class="icon-note icon-note_sm">
            <i class="material-symbols-outlined">location_on</i>
            Orlando, Florida
          </div>
        </div>
        <!-- /.product-location -->
        <div class="product-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias tenetur
          vitae eum! Fugiat qui corporis perferendis distinctio nobis temporibus
          accusantium ad delectus dicta. Est rem odio laboriosam esse ea
          eveniet? Molestiae alias delectus exercitationem. Culpa explicabo at,
          excepturi, magni assumenda eius et, doloremque laboriosam aspernatur
          ipsum voluptate unde quo natus dolorem nihil!
        </div>
        <!-- /.product-description -->
        <div class="product-details">
          <div class="icon-note icon-note_sm">
            <i class="material-symbols-outlined">people_alt</i>
            <span>8 guests </span>
          </div>
          <div class="icon-note icon-note_sm">
            <i class="material-symbols-outlined">bed</i>
            <span>6 beds</span>
          </div>
        </div>
        <!-- /.product-details -->
      </div>
      <!-- /.card-data_body -->
      <div class="card-data_action">
        <div class="product-rating">
          <div class="rating-stars">
            <i class="material-symbols-outlined">grade</i>
            <i class="material-symbols-outlined">grade</i>
            <i class="material-symbols-outlined">grade</i>
            <i class="material-symbols-outlined">grade</i>
            <i class="material-symbols-outlined">grade</i>
          </div>
        </div>
        <!-- /.product-rating -->
        <div class="product-price">
          <span class="currency">$</span>398.00
          <span class="support-text">night</span>
        </div>
        <!-- /.product-price -->
        <div class="product-cta">
          <a href="#product-detail" class="btn btn-primary w-100 stretched-link"
            >Book Now</a
          >
        </div>
        <!-- /.product-cta -->
      </div>
      <!-- /.card-data_action -->
    </div>
    <!-- /.card-data -->
  </div>
  <!-- /.row.g-0 -->
</div>
<!-- /.product-card_list -->
