<div class="col-12 col-sm-6 col-lg-3 mb-4">
  <div class="product-card product-card_grid">
    <div class="row g-0">
      <div class="card-image cropped-img">
        <div class="img-wrapper">
          <img
            src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/0e/59/85/2c.jpg"
            class="img-object"
            alt="{Product Name}"
          />
        </div>
      </div>
      <!-- /.card-image -->
      <div class="card-data">
        <div class="card-data_body">
          <a href="#product-detail" class="product-card_link stretched-link">
            <h3 class="product-title">Horseback Riding and ATVs Tour</h3>
          </a>
          <div class="product-location">
            <div class="icon-note icon-note_sm">
              <i class="material-symbols-outlined">location_on</i>
              Rionegro, Antioquia
            </div>
          </div>
          <!-- /.product-location -->
          <div class="product-description">
            Visit the places where a notorious figure lived and died on a Pablo
            Escobar tour of Medellin that goes from the colorful streets of
            Comuna 13 to Pablo Escobar’s grave. Visiting each place with a
            private guide unlocks the real stories behind Pablo Escobar’s
            legend; unlike most group Pablo Escobar tours, you’ll have the
            option to visit the ruins of ‘La Catedral,’ a luxurious prison that
            Escobar built—and escaped.
          </div>
          <!-- /.product-description -->
        </div>
        <!-- /.card-data_body -->
        <div class="card-data_action">
          <div class="product-price">
            <span class="currency">$</span>190.00
            <span class="support-text">person</span>
          </div>
          <!-- /.product-price -->
          <div class="product-cta">
            <a
              href="#product-detail"
              class="btn btn-primary w-100 stretched-link"
              >Add to Booking</a
            >
          </div>
          <!-- /.product-cta -->
        </div>
        <!-- /.card-data_action -->
      </div>
      <!-- /.card-data -->
    </div>
    <!-- /.row.g-0 -->
  </div>
  <!-- /.product-card_grid -->
</div>
<!-- /.col-12 col-sm-6 col-lg-3 mb-4 -->
