<div class="col-12 col-sm-6 col-lg-3 mb-4">
  <div class="product-card product-card_grid">
    <div class="row g-0">
      <div class="card-image cropped-img">
        <div class="img-wrapper">
          <img
            src="assets/img/product/cabin-in-mountains_rionegro.jpeg"
            class="img-object"
            alt="{Product Name}"
          />
        </div>
      </div>
      <!-- /.card-image -->
      <div class="card-data">
        <div class="card-data_body">
          <a href="#product-detail" class="product-card_link stretched-link">
            <h3 class="product-title">Beautiful Cabin in Mountains</h3>
          </a>
          <div class="product-location">
            <div class="icon-note icon-note_sm">
              <i class="material-symbols-outlined">location_on</i>
              Rionegro, Antioquia
            </div>
          </div>
          <!-- /.product-location -->
        </div>
        <!-- /.card-data_body -->
      </div>
      <!-- /.card-data -->
    </div>
    <!-- /.row.g-0 -->
  </div>
  <!-- /.product-card_grid -->
</div>
<!-- /.col-12 col-sm-6 col-lg-3 mb-4 -->
