<section class="icon-group featured">
  <div class="container text-center py-5">
    <h2>Why book with <span class="brand-name">Vidalta</span>?</h2>
    <p class="lead"><span class="brand-name">Vidalta</span> represents a higher standard of living. We believe our guests should enjoy a memorable and hassle-free experience.</p>
    <div class="row justify-content-center">
      <div class="col-sm-6 col-lg-3">
        <div class="icon-note outline xl">
          <i class="material-symbols-outlined">self_improvement</i>
          <h4>Hassle-Free</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ex incidunt accusamus minima enim iusto reprehenderit.</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="icon-note outline xl">
          <i class="material-symbols-outlined">frame_inspect</i>
          <h4>100% Transparency</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ex incidunt accusamus minima enim iusto reprehenderit suscipit.</p>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="icon-note outline xl">
          <i class="material-symbols-outlined">diamond</i>
          <h4>Higher Standards</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat reiciendis, ipsam facilis tempora expedita accusamus amet.</p>
        </div>
      </div> 
      <div class="col-sm-6 col-lg-3">
        <div class="icon-note outline xl">
          <i class="material-symbols-outlined">social_leaderboard</i>
          <h4>Super Hosts</h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, aperiam id laudantium commodi natus.</p>
        </div>
      </div> 
    </div>
  </div>                  
</section>