<div class="col-sm-6 col-lg-3 my-2">
  <div class="card product-card truncated">
    <a class="product-card_link" href="{Product Link}">
      <div class="row">
        <div class="product-card_media media-cropped">
          <div class="cropped-media-wrapper">
            <img class="img-fluid full-width" src="assets/img/product/finca_rionegro.jpeg" alt="{Product_Name}">
          </div>
        </div>
        <!-- /.product-card_media -->
        <div class="product-card_body">
          <div class="product-card_description">
            <div class="location">
              <h3 class="small text-muted">{Product Location}</h3>
            </div>
            <div class="title">
              <h4 class="h6">{Product Name}</h4>
            </div>
          </div>
          <!-- /.product-card_description -->
        </div>
        <!-- /.product-card_body -->
      </div>
      <!-- /.row -->
    </a>
    <!-- /.product-card_link -->
  </div>
  <!-- /.card.product-card -->
</div>
<!-- /.col-sm-6.col-lg-3 -->