<footer class="app-footer border-top">
  <div class="container-fluid py-5">
    <div class="row text-start">
      <div class="col-auto">
        <div class="footer-brand">
          <img class="img-fluid w-100" src="assets/brand/vidalta-logo_color.svg" alt="{Brand Name} Logo, color" >
          <h4>Social</h4>
          <ul class="nav">
            <li class="social-media-icon">
              <a class="facebook" href="" target="_blank"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="social-media-icon">
              <a class="instagram" href="" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="social-media-icon">
              <a class="linkedin" href="" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li class="social-media-icon">
              <a class="youtube" href="https://www.youtube.com/user/hyatt" target="_blank"><i class="fab fa-youtube"></i></a>
            </li>
          </ul>
        </div>
        <!-- /.footer-brand -->
        <div class="footer-newsletter">
          <form id="newsletterSignup">
            <h4>Newsletter</h4>
            <p>Receive special offers and travel tips.</p>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Enter your e-mail" aria-label="Recipient's email" aria-describedby="newsletterSignup">
              <button class="btn btn-outline-secondary" type="button" id="newsletterSignup">Sign up</button>
            </div>
          </form>
        </div>
        <!-- /.footer-newsletter -->
      </div>
      <!-- /.col-auto -->
      <div class="col-lg-8">
        <div class="footer-links">
          <div class="row">
            <div class="col-6 col-sm-4">
              <h4>Company</h4>
              <ul class="nav flex-column">
                <li>
                  <a href="">About Us</a>
                </li>
                <li>
                  <a href="">News</a>
                </li>
                <li>
                  <a href="">Reviews</a>
                </li>
                <li>
                  <a href="">Partnerships</a>
                </li>
              </ul>
            </div>
            <div class="col-6 col-sm-4">
              <h4>Travel</h4>
              <ul class="nav flex-column">
                <li>
                  <a href="">Travel Guide</a>
                </li>
                <li>
                  <a href="">Travel Checklist</a>
                </li>
                <li>
                  <a href="">Properties in Florida</a>
                </li>
                <li>
                  <a href="">Properties in Colombia</a>
                </li>
              </ul>
            </div>
            <div class="col-6 col-sm-4">
              <h4>Contact</h4>
              <ul class="nav flex-column">
                <li>
                  <a href="">FAQs</a>
                </li>
                <li>
                  <a href="">Cancellation Policy</a>
                </li>
                <li>
                  <a href="">Get in Touch</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.footer-links -->
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <div class="footer-copyright">
    <div class="container">
      <p class="mb-0">© Copyright Vidalta 2023. All Rights Reserved.</p><a href="">Sitemap</a> <a href="">Privacy</a><a href="">Terms</a>
    </div>
  </div>
  <!-- /.footer-copyright -->
</footer>
<!-- /.app-footer -->