<section class="feature-section highlight-values bg-light">
  <div class="container text-center py-5">
    <h2>The <span class="color-primary fw-bold">Vidalta</span> Difference</h2>
    <p class="header-support color-neutral">
      Our values make us stand out in a crowded market. In an era where many
      focus on quantity, we advocate for quality, honesty, and always putting
      our customers first.
    </p>
    <div class="row justify-content-around">
      <div class="col-12 col-lg-3">
        <div class="icon-note icon-note_xl d-block">
          <i class="material-symbols-outlined">handshake</i>
          <h3>Customer 1st</h3>
          <p>
            We put our customers at the heart of everything we do. Our dedicated
            team is always ready to cater to your individual needs, making sure
            your vacation is just as you dreamed it would be.
          </p>
        </div>
        <!-- /.icon-note_xl -->
      </div>
      <!-- /.col-12 col-lg-3 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="icon-note icon-note_xl d-block">
          <i class="material-symbols-outlined">diamond</i>
          <h3>Top Quality</h3>
          <p>
            We don’t settle for ‘good enough’. Each home in our collection is
            chosen for its high quality, adhering to strict guidelines, and
            providing the perfect setting for a superior vacation experience.
          </p>
        </div>
        <!-- /.icon-note_xl -->
      </div>
      <!-- /.col-12 col-md-6 col-lg-3 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="icon-note icon-note_xl d-block">
          <i class="material-symbols-outlined">frame_inspect</i>
          <h3>100% Transparent</h3>
          <p>
            We believe in open and honest communication. From our property
            listings to our guest relations, we ensure everything we do is
            transparent, so you know what to expect in every detail.
          </p>
        </div>
        <!-- /.icon-note_xl -->
      </div>
      <!-- /.col-12 col-md-6 col-lg-3 -->
    </div>
    <!-- /.row justify-content-around -->
  </div>
  <!-- /.container text-center py-5 -->
</section>
<!-- /.feature-section highlight-values -->
