<div
  id="textSlider"
  class="carousel slide carousel-slide_text"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="h2 text-white">
        "We had an absolutely wonderful stay!"
      </div>
    </div>
    <div class="carousel-item">
      <div class="h2 text-white">"Great location and great host"</div>
    </div>
    <div class="carousel-item">
      <div class="h2 text-white">
        "Beautiful property in historic Lake Eola Heights"
      </div>
    </div>
    <div class="carousel-item">
      <div class="h2 text-white">"The home was absolutely beautiful "</div>
    </div>
    <div class="carousel-item">
      <div class="h2 text-white">"Fantastic stay"</div>
    </div>
  </div>
  <div class="d-flex justify-content-between mb-3 mb-sm-0">
    <button
      type="button"
      class="carousel-control-prev position-relative"
      data-bs-target="#textSlider"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      type="button"
      class="carousel-control-next position-relative"
      data-bs-target="#textSlider"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- /.d-flex justify-content-between -->
</div>
<!-- /.#textSlider -->
