<section class="product-header mb-5">
  <h1 class="product-header_title">
    Beautiful Cabin in Mountains of Rionegro
  </h1>
  <div class="product-header_specs">
    <div class="d-flex flex-wrap">
      <div class="icon-note product-location">
        <i class="material-symbols-outlined">location_on</i>
        Rionegro, Antioquia
      </div>
      <div class="icon-note product-guests">
        <i class="material-symbols-outlined">people_alt</i>
        <span>4 guests </span>
      </div>
      <div class="icon-note product-beds">
        <i class="material-symbols-outlined">bed</i>
        <span>3 beds</span>
      </div>
      <div class="icon-note product-baths">
        <i class="material-symbols-outlined">bathtub</i>
        <span>1 bath</span>
      </div>
    </div>
  </div>
  <!-- /.product-header_specs -->
</section>
<!-- /.product-header mb-5 -->
