<section class="hero-spotlight hero-spotlight_lg">
  <div class="hero-image cropped-img">
    <div class="img-wrapper">
      <img
        src="assets/img/hero/hero-img_about.png"
        class="img-object"
        alt="{Image description}"
      />
    </div>
  </div>
  <!-- /.hero-image -->
  <div class="hero-overlay">
    <div class="container-lg">
      <div class="hero-text">
        <h1 class="mb-3">Discover The Higher Standard</h1>
        <p class="header-support">
          <span class="fw-bold">Vidalta</span> symbolizes a higher standard of
          living, vacationing, and simply enjoying life. We are committed to
          elevating your vacation experience with exceptional service and
          comfort.
        </p>
      </div>
      <!-- /.hero-text -->
    </div>
    <!-- /.container-lg -->
  </div>
  <!-- /.hero-overlay -->
</section>
<!-- /.hero-spotlight_lg -->

<div class="container py-5">
  <section class="storyboard storyboard_media-left mb-5">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="cropped-img h-100">
          <div class="img-wrapper">
            <img
              src="assets/img/vidalta_story.png"
              class="img-fluid rounded"
              alt="Vidalta Story: chairs on balcony overlooking lake"
            />
          </div>
        </div>
      </div>
      <!-- /.col-12 col-md-6 -->
      <div class="col-12 col-md-6">
        <h2 class="pt-3">Our Story</h2>
        <p>
          Born out of a passion for extraordinary living experiences,
          <span class="fw-bold color-primary">Vidalta</span> was created to
          elevate the standard for vacation home rentals. We believe that a
          vacation is not just about visiting new places, but about fully
          immersing yourself in the experience, and that begins with an ideal
          place to call ‘home’.
        </p>
        <p>
          Our journey is fueled by transparency, uncompromising quality, and a
          commitment to high service standards – values that are integral to our
          brand identity. We take great pride in crafting unforgettable vacation
          experiences while also positively contributing to the wellbeing and
          prosperity of the communities we serve.
        </p>
      </div>
      <!-- /.col-12 col-md-6 -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.storyboard storyboard_media-left -->

  <section class="storyboard storyboard_media-right mb-5">
    <div class="row">
      <div class="col-12 col-md-6 order-md-last">
        <div class="cropped-img h-100">
          <div class="img-wrapper">
            <img
              src="assets/img/vidalta_vision.png"
              class="img-fluid rounded"
              alt="Vidalta Vision: house on a hill overlooking the ocean"
            />
          </div>
        </div>
      </div>
      <!-- /.col-12 col-md-6 order-md-last -->
      <div class="col-12 col-md-6">
        <h2 class="pt-3">Our Vision</h2>
        <p>
          <span class="fw-bold color-primary">Vidalta’s</span> dream is to
          change the way people think about vacation home rentals. We want to
          provide an amazing, first-class experience that blends luxury,
          comfort, and a genuine feel of the local culture.
        </p>
        <p>
          Our goal is to be the #1 choice for travelers in search of
          hassle-free, memorable vacations. Our rentals, more than just
          beautiful homes, embody the spirit of local life, lending a unique
          touch to every trip. We’re dedicated to surpass expectations and
          redefine what a vacation home can be. Our commitment is to transform
          each vacation into an exceptional, unforgettable journey.
        </p>
      </div>
      <!-- /.col-12 col-md-6 -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.storyboard storyboard_media-right -->

  <section class="storyboard storyboard_media-left mb-5">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="cropped-img h-100">
          <div class="img-wrapper">
            <img
              src="assets/img/vidalta_properties.png"
              class="img-fluid rounded"
              alt="Vidalta Properties: image depicting vacation beach homes"
            />
          </div>
        </div>
      </div>
      <!-- /.col-12 col-md-6 -->
      <div class="col-12 col-md-6">
        <h2 class="pt-3">
          <span class="color-primary fw-bold">Vidalta</span> Properties
        </h2>
        <ul>
          <li class="mb-3">
            Every one of our properties undergoes an extensive quality
            assessment, ensuring comfort and excellence in every detail.
          </li>
          <li class="mb-3">
            We thoughtfully select homes with a distinctive charm, promising a
            unique experience for your stay.
          </li>
          <li class="mb-3">
            Our properties are equipped with up-to-date conveniences, offering a
            smooth, hassle-free experience.
          </li>
          <li class="mb-3">
            Prioritizing cleanliness and safety, we ensure our guests enjoy a
            serene, carefree stay.
          </li>
        </ul>
      </div>
      <!-- /.col-12 col-md-6 -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.storyboard storyboard_media-left -->
</div>
<!-- /.container py-5 -->

<section class="feature-section highlight-values bg-light">
  <div class="container text-center py-5">
    <h2>The <span class="color-primary fw-bold">Vidalta</span> Difference</h2>
    <p class="header-support color-neutral">
      Our values make us stand out in a crowded market. In an era where many
      focus on quantity, we advocate for quality, honesty, and always putting
      our customers first.
    </p>
    <div class="row justify-content-around">
      <div class="col-12 col-lg-3">
        <div class="icon-note icon-note_xl d-block">
          <i class="material-symbols-outlined">handshake</i>
          <h3>Customer 1st</h3>
          <p>
            We put our customers at the heart of everything we do. Our dedicated
            team is always ready to cater to your individual needs, making sure
            your vacation is just as you dreamed it would be.
          </p>
        </div>
        <!-- /.icon-note_xl -->
      </div>
      <!-- /.col-12 col-lg-3 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="icon-note icon-note_xl d-block">
          <i class="material-symbols-outlined">diamond</i>
          <h3>Top Quality</h3>
          <p>
            We don’t settle for ‘good enough’. Each home in our collection is
            chosen for its high quality, adhering to strict guidelines, and
            providing the perfect setting for a superior vacation experience.
          </p>
        </div>
        <!-- /.icon-note_xl -->
      </div>
      <!-- /.col-12 col-md-6 col-lg-3 -->
      <div class="col-12 col-md-6 col-lg-3">
        <div class="icon-note icon-note_xl d-block">
          <i class="material-symbols-outlined">frame_inspect</i>
          <h3>100% Transparent</h3>
          <p>
            We believe in open and honest communication. From our property
            listings to our guest relations, we ensure everything we do is
            transparent, so you know what to expect in every detail.
          </p>
        </div>
        <!-- /.icon-note_xl -->
      </div>
      <!-- /.col-12 col-md-6 col-lg-3 -->
    </div>
    <!-- /.row justify-content-around -->
  </div>
  <!-- /.container text-center py-5 -->
</section>
<!-- /.feature-section highlight-values -->

<section class="feature-section bg-secondary">
  <div class="container text-center py-5">
    <div class="h2 text-white">Ready to discover your dream vacation home?</div>
    <p class="header-support">
      Explore
      <a href="#product-listing" class="text-white">our collection</a> or
      <a href="#contact-us" class="text-white">contact</a> us for personalized
      recommendations.<br />
      Let <span class="fw-bold">Vidalta</span> elevate your vacation experience.
    </p>
  </div>
  <!-- /.container text-center py-5 -->
</section>
<!-- /.feature-section bg-secondary -->
