<section class="hero-spotlight hero-spotlight_lg">
  <div class="hero-image cropped-img">
    <div class="img-wrapper">
      <img
        src="assets/img/hero/pexels-photo-12902831.jpeg"
        class="img-object"
        alt="{Image description}"
      />
    </div>
  </div>
  <!-- /.hero-image -->
  <div class="hero-overlay">
    <div class="container-lg">
      <div class="hero-text">
        <h1 class="mb-3">Experience a Higher Standard in Vacation Homes</h1>
      </div>
      <!-- /.hero-text -->
      <div class="hero-cta hero-cta_newsletter">
        <form id="newsletterSignup" action="">
          <div class="input-group">
            <input
              type="text"
              class="form-control form-control-lg"
              aria-label="Recipient's email"
              aria-describedby="newsletterSignup"
              placeholder="Enter your e-mail for updates"
            />
            <button
              type="button"
              id="newsletterSignup"
              class="btn btn-lg btn-primary px-4"
            >
              Sign up
            </button>
          </div>
          <!-- /.input-group -->
        </form>
      </div>
      <!-- hero-cta_newsletter -->
    </div>
    <!-- /.container-lg -->
  </div>
  <!-- /.hero-overlay -->
</section>
<!-- /.hero-spotlight_lg -->

<section class="feature-section highlight-products">
  <div class="container text-center py-5">
    <div class="section-header">
      <h2>Disconnect. Enjoy complete peace of mind.</h2>
      <p class="header-support color-neutral">
        Our exclusive homes are equipped for a hassle-free vacation experience.
      </p>
    </div>
    <!-- /.section-header -->
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-3 mb-4">
        <div class="product-card product-card_grid">
          <div class="row g-0">
            <div class="card-image cropped-img">
              <div class="img-wrapper">
                <img
                  src="assets/img/product/cabin-in-mountains_rionegro.jpeg"
                  class="img-object"
                  alt="{Product Name}"
                />
              </div>
            </div>
            <!-- /.card-image -->
            <div class="card-data">
              <div class="card-data_body">
                <a
                  href="#product-detail"
                  class="product-card_link stretched-link"
                >
                  <h3 class="product-title">Beautiful Cabin in Mountains</h3>
                </a>
                <div class="product-location">
                  <div class="icon-note icon-note_sm">
                    <i class="material-symbols-outlined">location_on</i>
                    Rionegro, Antioquia
                  </div>
                </div>
                <!-- /.product-location -->
              </div>
              <!-- /.card-data_body -->
            </div>
            <!-- /.card-data -->
          </div>
          <!-- /.row.g-0 -->
        </div>
        <!-- /.product-card_grid -->
      </div>
      <!-- /.col-sm-6 col-lg-3 mb-4 -->
      <div class="col-12 col-sm-6 col-lg-3 mb-4">
        <div class="product-card product-card_grid">
          <div class="row g-0">
            <div class="card-image cropped-img">
              <div class="img-wrapper">
                <img
                  src="assets/img/product/key-west-in-orlando_home.jpeg"
                  class="img-object"
                  alt="{Product Name}"
                />
              </div>
            </div>
            <!-- /.card-image -->
            <div class="card-data">
              <div class="card-data_body">
                <a
                  href="#product-detail"
                  class="product-card_link stretched-link"
                >
                  <h3 class="product-title">Key West House in Orlando</h3>
                </a>
                <div class="product-location">
                  <div class="icon-note icon-note_sm">
                    <i class="material-symbols-outlined">location_on</i>
                    Orlando, Florida
                  </div>
                </div>
                <!-- /.product-location -->
              </div>
              <!-- /.card-data_body -->
            </div>
            <!-- /.card-data -->
          </div>
          <!-- /.row.g-0 -->
        </div>
        <!-- /.product-card_grid -->
      </div>
      <!-- /.col-12 col-sm-6 col-lg-3 mb-4 -->
      <div class="col-12 col-sm-6 col-lg-3 mb-4">
        <div class="product-card product-card_grid">
          <div class="row g-0">
            <div class="card-image cropped-img">
              <div class="img-wrapper">
                <img
                  src="assets/img/product/oasis-in-st-pete_boat.jpeg"
                  class="img-object"
                  alt="{Product Name}"
                />
              </div>
            </div>
            <!-- /.card-image -->
            <div class="card-data">
              <div class="card-data_body">
                <a
                  href="#product-detail"
                  class="product-card_link stretched-link"
                >
                  <h3 class="product-title">Oasis Catamaran in St. Pete</h3>
                </a>
                <div class="product-location">
                  <div class="icon-note icon-note_sm">
                    <i class="material-symbols-outlined">location_on</i>
                    St. Petersburg, Florida
                  </div>
                </div>
                <!-- /.product-location -->
              </div>
              <!-- /.card-data_body -->
            </div>
            <!-- /.card-data -->
          </div>
          <!-- /.row.g-0 -->
        </div>
        <!-- /.product-card_grid -->
      </div>
      <!-- /.col-12 col-sm-6 col-lg-3 mb-4 -->
      <div class="col-12 col-sm-6 col-lg-3 mb-4">
        <div class="product-card product-card_grid">
          <div class="row g-0">
            <div class="card-image cropped-img">
              <div class="img-wrapper">
                <img
                  src="assets/img/product/finca_rionegro.jpeg"
                  class="img-object"
                  alt="{Product Name}"
                />
              </div>
            </div>
            <!-- /.card-image -->
            <div class="card-data">
              <div class="card-data_body">
                <a
                  href="#product-detail"
                  class="product-card_link stretched-link"
                >
                  <h3 class="product-title">Family Home on the Hills</h3>
                </a>
                <div class="product-location">
                  <div class="icon-note icon-note_sm">
                    <i class="material-symbols-outlined">location_on</i>
                    Rionegro, Antioquia
                  </div>
                </div>
                <!-- /.product-location -->
              </div>
              <!-- /.card-data_body -->
            </div>
            <!-- /.card-data -->
          </div>
          <!-- /.row.g-0 -->
        </div>
        <!-- /.product-card_grid -->
      </div>
      <!-- /.col-12 col-sm-6 col-lg-3 mb-4 -->
    </div>
    <!-- /.row -->
    <div class="row justify-content-center mt-3">
      <div class="col-auto">
        <a class="btn btn-lg btn-primary px-4" href="#product-listing"
          >View all vacation homes</a
        >
      </div>
    </div>
  </div>
  <!-- /.container text-center py-5 -->
</section>
<!-- /.feature-section highlight-products -->

<section class="feature-section highlights-values bg-light">
  <div class="container text-center py-5">
    <div class="section-header">
      <h2>Why book with <span class="color-primary fw-bold">Vidalta</span>?</h2>
      <p class="header-support color-neutral">
        <span class="color-primary fw-bold">Vidalta</span> represents a higher
        standard of living. We believe in providing exceptional service and
        memorable experiences. Here's some of the qualities that set us appart:
      </p>
    </div>
    <!-- /.section-header -->
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="icon-note icon-note_xl d-block">
          <i class="material-symbols-outlined">diamond</i>
          <h3>Higher Standards</h3>
          <p>
            Elevate your vacation experience with our high-standard vision.
            Premium comfort and top-notch service await you.
          </p>
        </div>
        <!-- /.icon-note_xl -->
      </div>
      <!-- /.col-12 col-sm-6 col-lg-3 -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="icon-note icon-note_xl d-block">
          <i class="material-symbols-outlined">frame_inspect</i>
          <h3>Transparency</h3>
          <p>
            Trust our 100% transparency policy. Clear pricing, no hidden fees,
            plus detailed property photos and descriptions for your peace of
            mind.
          </p>
        </div>
        <!-- /.icon-note_xl -->
      </div>
      <!-- /.col-12 col-sm-6 col-lg-3 -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="icon-note icon-note_xl d-block">
          <i class="material-symbols-outlined">self_improvement</i>
          <h3>Hassle-Free</h3>
          <p>
            Experience a hassle-free stay with our vacation rentals. Simply
            book, arrive, and relax in your home away from home. No surprises!
          </p>
        </div>
        <!-- /.icon-note_xl -->
      </div>
      <!-- /.col-12 col-sm-6 col-lg-3 -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="icon-note icon-note_xl d-block">
          <i class="material-symbols-outlined">
            pets
          </i>
          <h3>Pet Friendly</h3>
          <p>
            Bring your furry friends along! Our pet-friendly vacation homes
            welcome all, ensuring a fun stay for the whole pack.
          </p>
        </div>
        <!-- /.icon-note_xl -->
      </div>
      <!-- /.col-12 col-sm-6 col-lg-3 -->
    </div>
    <!-- /.row justfiy-content-center -->
  </div>
  <!-- /.container text-center py-5 -->
</section>
<!-- /.feature-section highlight-values -->

<section class="feature-section highlight-slider bg-secondary">
  <div class="container text-center py-5">
    <p class="header-support mb-4">What our guests are saying:</p>
    <div
      id="reviewSlider"
      class="carousel slide carousel-slider_text"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="h2 text-white">
            "We had an absolutely wonderful stay!"
          </div>
        </div>
        <div class="carousel-item">
          <div class="h2 text-white">"Great location and great host"</div>
        </div>
        <div class="carousel-item">
          <div class="h2 text-white">
            "Beautiful property in historic Lake Eola Heights"
          </div>
        </div>
        <div class="carousel-item">
          <div class="h2 text-white">"The home was absolutely beautiful "</div>
        </div>
        <div class="carousel-item">
          <div class="h2 text-white">"Fantastic stay"</div>
        </div>
      </div>
      <div class="d-flex justify-content-between mb-3 mb-sm-0">
        <button
          type="button"
          class="carousel-control-prev position-relative"
          data-bs-target="#reviewSlider"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          type="button"
          class="carousel-control-next position-relative"
          data-bs-target="#reviewSlider"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- /.d-flex justify-content-between -->
    </div>
    <!-- /.#reviewSlider -->
    <a href="#about-us" class="btn btn-lg btn btn-primary px-4">Learn more</a>
  </div>
  <!-- /.container text-center py-5 -->
</section>
<!-- /.feature-section highlight-slider -->

<section class="feature-section highlight-destinations">
  <div class="container text-center py-5">
    <div class="section-header">
      <h2><span class="color-primary fw-bold">Vidalta</span> Travel Guide</h2>
      <p class="header-support color-neutral">
        Explore our curated travel guide, and discover the charm in our
        destinations.
      </p>
    </div>
    <!-- /.section-header -->
    <div class="spotlight-gallery spotlight-gallery_1x2">
      <div class="row">
        <div class="col-12 col-lg-6 mb-3">
          <div class="gallery-img cropped-img">
            <div class="img-wrapper h-100">
              <img
                src="assets/img/destinations/rionegro-oriente-antioqueno.webp"
                class="img-object"
                alt="{Destination Name}"
              />
            </div>
            <div class="img-overlay">
              <h3 class="text-white px-3">Rionegro, Antioquia</h3>
            </div>
          </div>
          <!-- /.gallery-img -->
        </div>
        <!-- /.col-12 col-lg-6 mb-3 -->
        <div class="col-12 col-lg-6 h-100">
          <div class="row">
            <div class="col-12 mb-3">
              <div class="gallery-img cropped-img">
                <div class="img-wrapper h-50">
                  <img
                    src="assets/img/destinations/orlando-skyline-fom-lake-eola-florida-us.jpeg"
                    class="img-object"
                    alt="{Destination Name}"
                  />
                </div>
                <div class="img-overlay">
                  <h3 class="text-white px-3">Orlando, Florida</h3>
                </div>
              </div>
              <!-- /.gallery-img -->
            </div>
            <!-- /.col-12 mb-3 -->
            <div class="col-12 mb-3">
              <div class="gallery-img cropped-img">
                <div class="img-wrapper h-50">
                  <img
                    src="assets/img/destinations/st-petersburg.jpeg"
                    class="img-object"
                    alt="{Destination Name}"
                  />
                </div>
                <div class="img-overlay">
                  <h3 class="text-white px-3">St. Petersburg, Florida</h3>
                </div>
              </div>
              <!-- /.gallery-img -->
            </div>
            <!-- /.col-12 mb-3 -->
          </div>
          <!-- /.row -->
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.spotlight-gallery_1x2 -->
  </div>
  <!-- /.container text-center py-5 -->
</section>
<!-- /.feature-section highlight-destinations -->
