<section class="hero-spotlight hero-spotlight_sm">
  <div class="hero-image cropped-img">
    <div class="img-wrapper">
      <img
        src="assets/img/hero/pexels-chris-rodriguez-2884864.jpeg"
        class="img-object"
        alt="{Destination Type} in {Destination Name}"
      />
    </div>
  </div>
  <!-- /.hero-image -->
  <div class="hero-overlay">
    <div class="container-lg">
      <div class="hero-text">
        <h1 class="mb-3">Search Vidalta Properties</h1>
      </div>
      <!-- /.hero-text -->
      <div class="hero-cta hero-cta_searchbar">
        <form id="productListingSearchbar">
          <div class="row g-3">
            <div class="col-lg-3 col-md-4 col-12">
              <div class="select-destination dropdown">
                <button
                  type="button"
                  id="selectDestination"
                  class="form-control dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Destination
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="#"
                      >St. Petersburg, Florida</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Orlando, Florida</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Medellin, Colombia</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Tulum, Mexico</a>
                  </li>
                </ul>
              </div>
              <!-- /.select-destination -->
            </div>
            <div class="col-lg-3 col-md-4 col-12">
              <div class="select-daterange input-group">
                <input
                  type="text"
                  id="dateRange"
                  class="form-control"
                  placeholder="Check-in | Check-out"
                  autocomplete="off"
                />
                <button class="input-group-text">
                  <i class="material-symbols-outlined">
                    calendar_month
                  </i>
                </button>
              </div>
              <!-- /.select-daterange -->
            </div>
            <div class="col-md-auto col-12">
              <a href="" class="btn btn-secondary w-100">Search</a>
            </div>
          </div>
          <!-- /.row g-3 -->
        </form>
        <!-- /#productListingSearchbar -->
      </div>
      <!-- /.hero-cta_searchbar -->
    </div>
    <!-- /.container-lg -->
  </div>
  <!-- /.hero-overlay -->
</section>
<!-- /.hero-spotlight_sm-->

<section class="product-listing_fullwidth">
  <div class="container py-5">
    <div class="section-header">
      <h2>Product listing full-width</h2>
    </div>
    <div class="row">
      <div class="col-auto mb-4">
        <div class="product-card product-card_list">
          <div class="row g-0">
            <div class="card-image cropped-img">
              <div class="img-wrapper">
                <a href="#product-detail" class="product-card_link">
                  <img
                    src="assets/img/product/cabin-in-mountains_rionegro.jpeg"
                    class="img-object"
                    alt="{Product Name}"
                  />
                </a>
              </div>
            </div>
            <!-- /.card-image -->
            <div class="card-data">
              <div class="card-data_body">
                <a href="#product-detail">
                  <h3 class="product-title">Beautiful Cabin in Mountains</h3>
                </a>
                <div class="product-location">
                  <div class="icon-note icon-note_sm">
                    <i class="material-symbols-outlined">location_on</i>
                    Rionegro, Antioquia
                  </div>
                </div>
                <!-- /.product-location -->
                <div class="product-description">
                  Beautiful Bungalow in the mountains of Rionegro with
                  breathtaking views, authentic ranch character, attention to
                  details and comfort truly offer an authentic experience.
                  Disconnect from the city and get away. Medellin 45min, JMC
                  International Airport & Llano Grande 20min, Guatapé/El Peñol 1
                  hour and much more.
                </div>
                <!-- /.product-description -->
                <div class="product-details">
                  <div class="icon-note icon-note_sm">
                    <i class="material-symbols-outlined">people_alt</i>
                    <span>4 guests </span>
                  </div>
                  <div class="icon-note icon-note_sm">
                    <i class="material-symbols-outlined">bed</i>
                    <span>3 beds</span>
                  </div>
                </div>
                <!-- /.product-details -->
              </div>
              <!-- /.card-data_body -->
              <div class="card-data_action">
                <div class="product-rating">
                  <div class="rating-stars">
                    <i class="material-symbols-outlined">grade</i>
                    <i class="material-symbols-outlined">grade</i>
                    <i class="material-symbols-outlined">grade</i>
                    <i class="material-symbols-outlined">grade</i>
                    <i class="material-symbols-outlined">grade</i>
                  </div>
                </div>
                <!-- /.product-rating -->
                <div class="product-price">
                  <span class="currency">$</span>47.00
                  <span class="support-text">night</span>
                </div>
                <!-- /.product-price -->
                <div class="product-cta">
                  <a
                    href="#product-detail"
                    class="btn btn-primary w-100 stretched-link"
                    >Book Now</a
                  >
                </div>
                <!-- /.product-cta -->
              </div>
              <!-- /.card-data_action -->
            </div>
            <!-- /.card-data -->
          </div>
          <!-- /.row.g-0 -->
        </div>
        <!-- /.product-card_list -->
      </div>
      <!-- /.col-auto mb-4 -->
      <div class="col-auto mb-4">
        <div class="product-card product-card_list">
          <div class="row g-0">
            <div class="card-image cropped-img">
              <div class="img-wrapper">
                <a href="#product-detail">
                  <img
                    src="assets/img/product/key-west-in-orlando_home.jpeg"
                    class="img-object"
                    alt="{Product Name}"
                  />
                </a>
              </div>
            </div>
            <!-- /.card-image -->
            <div class="card-data">
              <div class="card-data_body">
                <a href="#product-detail" class="product-card_link">
                  <h3 class="product-title">Key West House in Orlando</h3>
                </a>
                <div class="product-location">
                  <div class="icon-note icon-note_sm">
                    <i class="material-symbols-outlined">location_on</i>
                    Orlando, Florida
                  </div>
                </div>
                <!-- /.product-location -->
                <div class="product-description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
                  tenetur vitae eum! Fugiat qui corporis perferendis distinctio
                  nobis temporibus accusantium ad delectus dicta. Est rem odio
                  laboriosam esse ea eveniet? Molestiae alias delectus
                  exercitationem. Culpa explicabo at, excepturi, magni assumenda
                  eius et, doloremque laboriosam aspernatur ipsum voluptate unde
                  quo natus dolorem nihil!
                </div>
                <!-- /.product-description -->
                <div class="product-details">
                  <div class="icon-note icon-note_sm">
                    <i class="material-symbols-outlined">people_alt</i>
                    <span>8 guests </span>
                  </div>
                  <div class="icon-note icon-note_sm">
                    <i class="material-symbols-outlined">bed</i>
                    <span>6 beds</span>
                  </div>
                </div>
                <!-- /.product-details -->
              </div>
              <!-- /.card-data_body -->
              <div class="card-data_action">
                <div class="product-rating">
                  <div class="rating-stars">
                    <i class="material-symbols-outlined">grade</i>
                    <i class="material-symbols-outlined">grade</i>
                    <i class="material-symbols-outlined">grade</i>
                    <i class="material-symbols-outlined">grade</i>
                    <i class="material-symbols-outlined">grade</i>
                  </div>
                </div>
                <!-- /.product-rating -->
                <div class="product-price">
                  <span class="currency">$</span>398.00
                  <span class="support-text">night</span>
                </div>
                <!-- /.product-price -->
                <div class="product-cta">
                  <a
                    href="#product-detail"
                    class="btn btn-primary w-100 stretched-link"
                    >Book Now</a
                  >
                </div>
                <!-- /.product-cta -->
              </div>
              <!-- /.card-data_action -->
            </div>
            <!-- /.card-data -->
          </div>
          <!-- /.row.g-0 -->
        </div>
        <!-- /.product-card_list -->
      </div>
      <!-- /.col-auto mb-4 -->
      <div class="col-auto mb-4">
        <div class="product-card product-card_list">
          <div class="row g-0">
            <div class="card-image cropped-img">
              <div class="img-wrapper">
                <a href="#product-detail">
                  <img
                    src="assets/img/product/oasis-in-st-pete_boat.jpeg"
                    class="img-object"
                    alt="{Product Name}"
                  />
                </a>
              </div>
            </div>
            <!-- /.card-image -->
            <div class="card-data">
              <div class="card-data_body">
                <a href="#product-detail" class="product-card_link">
                  <h3 class="product-title">Oasis Catamaran in St. Pete</h3>
                </a>
                <div class="product-location">
                  <div class="icon-note icon-note_sm">
                    <i class="material-symbols-outlined">location_on</i>
                    St. Petersburg, Florida
                  </div>
                </div>
                <!-- /.product-location -->
                <div class="product-description">
                  Oasis is a beautiful 2020 model, 40' Catamaran located in the
                  heart of Downtown St. Pete, walking distance to seemingly
                  endless restaurants, shops and entertainment, including St.
                  Pete's famous Pier. Enjoy all the comforts of home while on
                  the water. Create countless memories with family and loved
                  ones in this spacious and modern vessel with all the amenities
                  you will need.
                </div>
                <!-- /.product-description -->
                <div class="product-details">
                  <div class="icon-note icon-note_sm">
                    <i class="material-symbols-outlined">people_alt</i>
                    <span>6 guests </span>
                  </div>
                  <div class="icon-note icon-note_sm">
                    <i class="material-symbols-outlined">bed</i>
                    <span>4 beds</span>
                  </div>
                </div>
                <!-- /.product-details -->
              </div>
              <!-- /.card-data_body -->
              <div class="card-data_action">
                <div class="product-rating">
                  <div class="rating-stars">
                    <i class="material-symbols-outlined">grade</i>
                    <i class="material-symbols-outlined">grade</i>
                    <i class="material-symbols-outlined">grade</i>
                    <i class="material-symbols-outlined">grade</i>
                    <i class="material-symbols-outlined">grade</i>
                  </div>
                </div>
                <!-- /.product-rating -->
                <div class="product-price">
                  <span class="currency">$</span>653.00
                  <span class="support-text">night</span>
                </div>
                <!-- /.product-price -->
                <div class="product-cta">
                  <a
                    href="#product-detail"
                    class="btn btn-primary w-100 stretched-link"
                    >Book Now</a
                  >
                </div>
                <!-- /.product-cta -->
              </div>
              <!-- /.card-data_action -->
            </div>
            <!-- /.card-data -->
          </div>
          <!-- /.row.g-0 -->
        </div>
        <!-- /.product-card_list -->
      </div>
      <!-- /.col-auto mb-4 -->
      <div class="col-auto mb-4">
        <div class="product-card product-card_list">
          <div class="row g-0">
            <div class="card-image cropped-img">
              <div class="img-wrapper">
                <a href="#product-detail">
                  <img
                    src="assets/img/product/finca_rionegro.jpeg"
                    class="img-object"
                    alt="{Product Name}"
                  />
                </a>
              </div>
            </div>
            <!-- /.card-image -->
            <div class="card-data">
              <div class="card-data_body">
                <a href="#product-detail" class="product-card_link">
                  <h3 class="product-title">Family Home on the Hills</h3>
                </a>
                <div class="product-location">
                  <div class="icon-note icon-note_sm">
                    <i class="material-symbols-outlined">location_on</i>
                    Rionegro, Antioquia
                  </div>
                </div>
                <!-- /.product-location -->
                <div class="product-description">
                  Beautiful rest house among the Beautiful Mountains. A quiet
                  place full of good energies to relax, recharge and work
                  remotely! Perfect layout and comfort to share with
                  family/friends. Approximately 35min Medellin-20min Airport-1h
                  Guatape/Piedra del Penol-25min San Antonio de Pereira-50min El
                  Retiro-10min horses,fishing, funda and pool.
                </div>
                <!-- /.product-description -->
                <div class="product-details">
                  <div class="icon-note icon-note_sm">
                    <i class="material-symbols-outlined">people_alt</i>
                    <span>8 guests </span>
                  </div>
                  <div class="icon-note icon-note_sm">
                    <i class="material-symbols-outlined">bed</i>
                    <span>3 beds</span>
                  </div>
                </div>
                <!-- /.product-details -->
              </div>
              <!-- /.card-data_body -->
              <div class="card-data_action">
                <div class="product-rating">
                  <div class="rating-stars">
                    <i class="material-symbols-outlined">grade</i>
                    <i class="material-symbols-outlined">grade</i>
                    <i class="material-symbols-outlined">grade</i>
                    <i class="material-symbols-outlined">grade</i>
                    <i class="material-symbols-outlined">grade</i>
                  </div>
                </div>
                <!-- /.product-rating -->
                <div class="product-price">
                  <span class="currency">$</span>115.00
                  <span class="support-text">night</span>
                </div>
                <!-- /.product-price -->
                <div class="product-cta">
                  <a
                    href="#product-detail"
                    class="btn btn-primary w-100 stretched-link"
                    >Book Now</a
                  >
                </div>
                <!-- /.product-cta -->
              </div>
              <!-- /.card-data_action -->
            </div>
            <!-- /.card-data -->
          </div>
          <!-- /.row.g-0 -->
        </div>
        <!-- /.product-card_list -->
      </div>
      <!-- /.col-auto mb-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container py-5 -->
</section>
<!-- /.product-listing_fullwidth -->

<section class="product-listing_grid bg-light">
  <div class="container py-5">
    <div class="section-header">
      <h2>Product listing grid</h2>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-3 mb-4">
        <div class="product-card product-card_grid">
          <div class="row g-0">
            <div class="card-image cropped-img">
              <div class="img-wrapper">
                <a href="#product-detail">
                  <img
                    src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/0e/59/85/2c.jpg"
                    class="img-object"
                    alt="{Product Name}"
                  />
                </a>
              </div>
            </div>
            <!-- /.card-image -->
            <div class="card-data">
              <div class="card-data_body">
                <a href="#product-detail" class="product-card_link">
                  <h3 class="product-title">Horseback Riding and ATVs Tour</h3>
                </a>
                <div class="product-location">
                  <div class="icon-note icon-note_sm">
                    <i class="material-symbols-outlined">location_on</i>
                    Rionegro, Antioquia
                  </div>
                </div>
                <!-- /.product-location -->
                <div class="product-description">
                  Visit the places where a notorious figure lived and died on a
                  Pablo Escobar tour of Medellin that goes from the colorful
                  streets of Comuna 13 to Pablo Escobar’s grave. Visiting each
                  place with a private guide unlocks the real stories behind
                  Pablo Escobar’s legend; unlike most group Pablo Escobar tours,
                  you’ll have the option to visit the ruins of ‘La Catedral,’ a
                  luxurious prison that Escobar built—and escaped.
                </div>
                <!-- /.product-description -->
              </div>
              <!-- /.card-data_body -->
              <div class="card-data_action">
                <div class="product-price">
                  <span class="currency">$</span>190.00
                  <span class="support-text">person</span>
                </div>
                <!-- /.product-price -->
                <div class="product-cta">
                  <a
                    href="#product-detail"
                    class="btn btn-primary w-100 stretched-link"
                    >Add to Booking</a
                  >
                </div>
                <!-- /.product-cta -->
              </div>
              <!-- /.card-data_action -->
            </div>
            <!-- /.card-data -->
          </div>
          <!-- /.row.g-0 -->
        </div>
        <!-- /.product-card_grid -->
      </div>
      <!-- /.col-12 col-sm-6 col-lg-3 mb-4 -->
      <div class="col-12 col-sm-6 col-lg-3 mb-4">
        <div class="product-card product-card_grid">
          <div class="row g-0">
            <div class="card-image cropped-img">
              <div class="img-wrapper">
                <a href="#product-detail">
                  <img
                    src="https://media.tacdn.com/media/attractions-splice-spp-674x446/0f/76/db/df.jpg"
                    class="img-object"
                    alt="{Product Name}"
                  />
                </a>
              </div>
            </div>
            <!-- /.card-image -->
            <div class="card-data">
              <div class="card-data_body">
                <a href="#product-detail" class="product-card_link">
                  <h3 class="product-title">
                    Private tour to Guatapé and Helicopter ride
                  </h3>
                </a>
                <div class="product-location">
                  <div class="icon-note icon-note_sm">
                    <i class="material-symbols-outlined">location_on</i>
                    Rionegro, Antioquia
                  </div>
                </div>
                <!-- /.product-location -->
                <div class="product-description">
                  Capture the most incredible views of Guatapé and the
                  magnificent El Peńol rock formation on a day trip from
                  Medellin with a difference. Not only will you climb over 700
                  steps to the top of the rock, you’ll fly over it in a
                  helicopter and enjoy a boat ride on the lake—for unbeatable
                  vistas of the lush green region.
                </div>
              </div>
              <!-- /.card-data_body -->
              <div class="card-data_action">
                <div class="product-price">
                  <span class="currency">$</span>330.00
                  <span class="support-text">person</span>
                </div>
                <!-- /.product-price -->
                <div class="product-cta">
                  <a
                    href="#product-detail"
                    class="btn btn-primary w-100 stretched-link"
                    >Add to Booking</a
                  >
                </div>
                <!-- /.product-cta -->
              </div>
              <!-- /.card-data_action -->
            </div>
            <!-- /.card-data -->
          </div>
          <!-- /.row.g-0 -->
        </div>
        <!-- /.product-card_grid -->
      </div>
      <!-- /.col-12 col-sm-6 col-lg-3 mb-4 -->
      <div class="col-12 col-sm-6 col-lg-3 mb-4">
        <div class="product-card product-card_grid">
          <div class="row g-0">
            <div class="card-image cropped-img">
              <div class="img-wrapper">
                <a href="#product-detail">
                  <img
                    class="img-object"
                    src="https://media.tacdn.com/media/attractions-splice-spp-674x446/09/c6/48/10.jpg"
                    alt="{Product Name}"
                  />
                </a>
              </div>
            </div>
            <!-- /.card-image -->
            <div class="card-data">
              <div class="card-data_body">
                <a href="#product-detail" class="product-card_link">
                  <h3 class="product-title">
                    Paragliding over giant waterfalls private tour
                  </h3>
                </a>
                <div class="product-location">
                  <div class="icon-note icon-note_sm">
                    <i class="material-symbols-outlined">location_on</i>
                    Rionegro, Antioquia
                  </div>
                </div>
                <!-- /.product-location -->
                <div class="product-description">
                  Sit back and relax as a driver-guide shuttles you from your
                  Medellín or Ríonegro hotel to Cocorna, where you’ll accompany
                  a professional pilot on a 25-minute paragliding flight.
                  Experience bird’s-eye views over crashing waterfalls and vast
                  canyons, while literally gaining a new perspective— one that
                  most travelers won’t—on this beautiful part of Colombia.
                  Afterwards, enjoy an optional lunch in the mountains (own
                  expense) and marvel over more panoramic vistas.
                </div>
              </div>
              <!-- /.card-data_body -->
              <div class="card-data_action">
                <div class="product-price">
                  <span class="currency">$</span>156.00
                  <span class="support-text">person</span>
                </div>
                <!-- /.product-price -->
                <div class="product-cta">
                  <a
                    href="#product-detail"
                    class="btn btn-primary w-100 stretched-link"
                    >Add to Booking</a
                  >
                </div>
                <!-- /.product-cta -->
              </div>
              <!-- /.card-data_action -->
            </div>
            <!-- /.card-data -->
          </div>
          <!-- /.row.g-0 -->
        </div>
        <!-- /.product-card_grid -->
      </div>
      <!-- /.col-12 col-sm-6 col-lg-3 mb-4 -->
      <div class="col-12 col-sm-6 col-lg-3 mb-4">
        <div class="product-card product-card_grid">
          <div class="row g-0">
            <div class="card-image cropped-img">
              <div class="img-wrapper">
                <a href="#product-detail">
                  <img
                    src="https://media.tacdn.com/media/attractions-splice-spp-674x446/07/81/82/38.jpg"
                    class="img-object"
                    alt="{Product Name}"
                  />
                </a>
              </div>
            </div>
            <!-- /.card-image -->
            <div class="card-data">
              <div class="card-data_body">
                <a href="#product-detail" class="product-card_link">
                  <h3 class="product-title">
                    Comuna 13 Graffiti Tour and Street Food
                  </h3>
                </a>
                <div class="product-location">
                  <div class="icon-note icon-note_sm">
                    <i class="material-symbols-outlined">location_on</i>
                    Rionegro, Antioquia
                  </div>
                </div>
                <!-- /.product-location -->
                <div class="product-description">
                  Comuna 13 is currently the most visited site in all of
                  Medellin and our company has the title of those qualified to
                  make this tour.
                </div>
              </div>
              <!-- /.card-data_body -->
              <div class="card-data_action">
                <div class="product-price">
                  <span class="currency">$</span>19.49
                  <span class="support-text">person</span>
                </div>
                <!-- /.product-price -->
                <div class="product-cta">
                  <a
                    href="#product-detail"
                    class="btn btn-primary w-100 stretched-link"
                    >Add to Booking</a
                  >
                </div>
                <!-- /.product-cta -->
              </div>
              <!-- /.card-data_action -->
            </div>
            <!-- /.card-data -->
          </div>
          <!-- /.row.g-0 -->
        </div>
        <!-- /.product-card_grid -->
      </div>
      <!-- /.col-12 col-sm-6 col-lg-3 mb-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container py-5 -->
</section>
<!-- /.product-listing_grid -->
