<div class="hero-spotlight hero-spotlight_gallery p-2">
	<div class="row g-2">
		<div class="col-md-3 d-none d-md-block">
			<div class="row g-2 g-md-0 h-100">
				<div class="col-6 col-md-12 mb-2">
					<div class="card-image cropped-img">
						<div class="img-wrapper h-50">
							<a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#productImageGallery_modal">
							<img class="img-object" src="assets/img/product/rionegro_cabin/6ffea2aa-6f68-4432-9a7f-05f73e196db6.webp" alt="{Product Name}">
							</a>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-12 mb-2">
					<div class="card-image cropped-img">
						<div class="img-wrapper h-50">
							<a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#productImageGallery_modal">
							<img class="img-object" src="assets/img/product/rionegro_cabin/43c2e2f1-9125-4db5-94d3-7289b956ec66.webp" alt="{Product Name}">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 mb-md-2">
			<div class="card-image cropped-img">
				<div class="img-wrapper h-100">
					<a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#productImageGallery_modal">
					<img class="img-object" src="assets/img/product/rionegro_cabin/df0e323c-0055-4513-8c7f-0a2643433ac3.webp" alt="{Product Name}">
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-3 d-none d-md-block">
			<div class="row h-100">
				<div class="col-6 col-md-12 mb-2">
					<div class="card-image cropped-img">
						<div class="img-wrapper h-50">
							<a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#productImageGallery_modal">
							<img class="img-object" src="assets/img/product/rionegro_cabin/876867ee-31c5-435e-8f82-6d67483b7a1f.webp" alt="{Product Name}">
							</a>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-12 mb-2">
					<div class="card-image cropped-img">
						<div class="img-wrapper h-50">
							<a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#productImageGallery_modal">
							<img class="img-object" src="assets/img/product/rionegro_cabin/595c8815-db5a-4677-8587-4ed902d5d234.webp" alt="{Product Name}">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero-spotlight_cta container">
		<a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#productImageGallery_modal" class="btn btn-secondary_outline px-4 opacity-75">See all photos</a>
	</div>
</div>
<!-- /.hero-spotlight_gallery -->
<div class="container position-relative py-2">
	<ul class="icon-link_group nav justify-content-end" style="">
		<li class="icon-link mb-0">
			<a href="">
			<i class="material-symbols-outlined">share</i>
			<span>Share</span>
			</a>
		</li>
		<li class="icon-link mb-0">
			<a href="">
			<i class="material-symbols-outlined">favorite</i>
			<span>Save</span>
			</a>
		</li>
	</ul>
</div>
<div class="product-detail_container container py-4">
	<div class="row app-content_layout">
		<div class="col-lg-8 app-content_main">
			<div class="product-header mb-5">
				<h1 class="product-header_title">Beautiful Cabin in Mountains of Rionegro</h1>
				<div class="product-header_specs">
					<div class="d-flex flex-wrap">
						<div class="icon-note product-location">
							<i class="material-symbols-outlined">location_on</i>
							Rionegro, Antioquia
						</div>
						<div class="icon-note product-guests">
							<i class="material-symbols-outlined">people_alt</i>
							<span>4 guests </span>
						</div>
						<div class="icon-note product-beds">
							<i class="material-symbols-outlined">bed</i>
							<span>3 beds</span>
						</div>
						<div class="icon-note product-baths">
							<i class="material-symbols-outlined">bathtub</i>
							<span>1 bath</span>
						</div>
					</div>
				</div>
				<!-- /.product-header_specs -->
			</div>
			<!-- /.product-header -->
			<div class="product-description pb-5 mb-5 border-bottom">
				<h2>Property Description</h2>
				<div class="pb-5 mb-4 border-bottom" style="position: relative;">
					<div class="product-description_summary truncate-8-lines smart-truncate">
						<p>Beautiful Bungalow in the mountains of Rionegro with breathtaking views, authentic ranch character, attention to details and comfort truly offer an authentic experience. Disconnect from the city and get away. Medellin 45min, JMC International Airport & Llano Grande 20min, Guatapé/El Peñol 1 hour and much more.</p>
						<h3>Inside the Home</h3>
						<p>Open space bamboo cabin consisting of (1) bedroom, (1) living room, (1) full bathroom with hot water, fully equipped indoor kitchen with all basic necessities for cooking, large patio with beautiful garden overlooking mountain landscapes, and an outdoor grilling area.</p>
						<p>This unique home offers an authentic Colombian experience, combined with Mexican themed decoration.</p>
						<h3>Surrounding Area</h3>
						<p>Beautiful garden, mountain view from the bed, hammocks among nature listening to the birds. A huge super comfortable king size bed and super soft pillows. Kitchen and bar q are integrated to the outside, bonfire, mesh in the air over nature glamping style for a unique and different experience.</p>
						<p>Quiet, safe, and very nice neighborhood. Sociable neighbors and very collaborative. A unique experience to enjoy with family and friends!</p>
						<p>A total relaxation amidst the wonders of nature! Unique and different decoration with Mexican style made with a lot of love, time and dedication in every detail!</p>
					</div>
					<!-- /.product-description_summary -->
				</div>
				<div class="product-description_highlights pb-4 mb-4 border-bottom">
					<h3>Highlights</h3>
					<div class="d-flex flex-wrap justify-content-between">
						<div class="icon-note icon-note_lg">
							<i class="material-symbols-outlined">wifi</i>
							<h4 class="mb-0">High-speed WiFi</h4>
						</div>
						<div class="icon-note icon-note_lg">
							<i class="material-symbols-outlined">forest</i>
							<h4 class="mb-0">Surrounded by nature</h4>
						</div>
						<div class="icon-note icon-note_lg">
							<i class="material-symbols-outlined">outdoor_grill</i>
							<h4 class="mb-0">Outdoor grilling area</h4>
						</div>
					</div>
				</div>
				<!-- /.product-description_highlights -->
				<div class="product-description_amenities pb-4 mb-4 border-bottom">
					<h3>Amenities</h3>
					<div class="row">
						<div class="col-12 col-sm-6 col-md-4">
							<div class="icon-note">
								<i class="material-symbols-outlined">wifi</i>
								High-speed Wifi
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4">
							<div class="icon-note">
								<i class="material-symbols-outlined">local_parking</i>
								Free parking on premises
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4">
							<div class="icon-note">
								<i class="material-symbols-outlined">pets</i>
								Pet friendly
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4">
							<div class="icon-note">
								<i class="material-symbols-outlined">TV</i>
								TV
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4">
							<div class="icon-note">
								<i class="material-symbols-outlined">yard</i>
								Private yard/garden
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4">
							<div class="icon-note">
								<i class="material-symbols-outlined">deck</i>
								Outdoor patio
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4">
							<div class="icon-note">
								<i class="material-symbols-outlined">cooking</i>
								Gas stove
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4">
							<div class="icon-note">
								<i class="material-symbols-outlined">soup_kitchen</i>
								Cooking utensils
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4">
							<div class="icon-note">
								<i class="material-symbols-outlined">coffee_maker</i>
								Coffee maker
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4">
							<div class="icon-note">
								<i class="material-symbols-outlined">table_restaurant</i>
								Dining table
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4">
							<div class="icon-note">
								<i class="material-symbols-outlined">flatware</i>
								Dishes &amp; silverware
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4">
							<div class="icon-note">
								<i class="material-symbols-outlined">oven_gen</i>
								Countertop oven
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4">
							<div class="icon-note">
								<i class="material-symbols-outlined">shower</i>
								Hot water
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4">
							<div class="icon-note">
								<i class="material-symbols-outlined">dry_cleaning</i>
								Towels &amp; bed linen
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4">
							<div class="icon-note">
								<i class="material-symbols-outlined">outdoor_grill</i>
								Outdoor grilling area
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4">
							<div class="icon-note">
								<i class="material-symbols-outlined">casino</i>
								Cards &amp; board games
							</div>
						</div>
						<div class="col-12 col-sm-6 col-md-4">
							<div class="icon-note">
								<i class="material-symbols-outlined">fireplace</i>
								Outdoor fire pit
							</div>
						</div>
					</div>
				</div>
				<!-- /.product-description_amenities -->
				<div class="product-description_rooms pb-4 mb-4 border-bottom">
					<h3>Bedrooms</h3>
					<div class="row">
						<div class="col-6 col-md-4">
							<div class=" product-card product-card_spotlight">
								<div class="row-g-0">
									<div class="card-image cropped-img">
										<div class="img-wrapper">
											<img src="assets/img/product/rionegro_cabin/f1dfd5f5-6d7e-4646-b198-2e49465137a7.webp" class="img-object" alt="...">
										</div>
									</div>
								</div>
								<div class="card-data">
									<div class="card-data_body">
										<div class="card-title h5">Bedroom (open)</div>
										<ul class="card-text">
											<li>(1) King size bed</li>
											<li>(1) Queen size bed</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-6 col-md-4">
							<div class=" product-card product-card_spotlight">
								<div class="row g-0">
									<div class="card-image cropped-img">
										<div class="img-wrapper">
											<img src="assets/img/product/rionegro_cabin/59c1abd7-642d-42c4-a113-5aa6dfebb573.webp" class="img-object" alt="...">
										</div>
									</div>
									<div class="card-data">
										<div class="card-data_body">
											<div class="card-title h5">Living room (open)</div>
											<ul class="card-text">
												<li>(1) Sofa bed</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.product-description_rooms -->
				<div class="product-description_guidelines pb-4 mb-4 border-bottom">
					<h3>Rental guidelines</h3>
					<div class="row">
						<div class="col-12 col-sm-6 col-md-4">
							<h4>House rules</h4>
							<ul>
								<li>Check-in: after 3:00pm</li>
								<li>Check out: before 12:00pm</li>
								<li>Quiet hours: 11:00pm to 7:00am</li>
								<li>Maximum guests: 4</li>
								<li>Pets: allowed</li>
								<li>NO parties or events</li>
								<li>NO smoking</li>
							</ul>
						</div>
						<div class="col-12 col-sm-6 col-md-4">
							<h4>Recommendations</h4>
							<ul>
								<li>No carbon monoxide detector</li>
								<li>No smoke alarm</li>
								<li>Personal vehicle recommended</li>
								<li>Contact VIP Concierge for local guidance</li>
								<li>Do not leave children or pets unattended.</li>
							</ul>
						</div>
						<div class="col-12 col-sm-6 col-md-4">
							<h4>Payments &amp; Cancellation</h4>
							<ul>
								<li>50% payment required upon booking.</li>
								<li>50% cancellation fee within 7 days of check-in date.</li>
								<li>NO refunds on reservervations cancelled within 7 days of check-in.</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /.product-detail_guidelines -->
			</div>
			<!-- /.product-description -->
		</div>
		<!-- /.app-content_main -->
		<div class="col-lg-4 app-content_sidebar">
			<div class="card booking-card text-center mb-4">
				<div class="card-header bg-light py-3">
					<h3 class="mb-0">Reserve your stay</h3>
				</div>
				<div class="card-body">
					<h4><span class="fw-light">From</span> $47/night</h4>
					<div class="booking-field mb-3">
						<div>Select dates to check availability:</div>
						<div class="input-group">
							<input type="text" class="form-control form-control-lg" id="startDate" placeholder="Check-in" autocomplete="off">
							<input type="text" class="form-control form-control-lg" id="endDate" placeholder="Check-out" autocomplete="off">
							<span class="input-group-text">#</span>
						</div>
					</div>
					<div class="booking-field mb-3">
						<select id="select_destination" class="form-select form-select-lg">
							<option selected>Guests</option>
							<option value="">1</option>
							<option value="">2</option>
							<option value="">3</option>
							<option value="">4</option>
						</select>
					</div>
					<div class="reservation-cta">
						<a href="#" class="btn btn-lg btn-primary w-100">Check Availability</a>
					</div>
				</div>
			</div>
			<!-- /.booking-card -->
			<div class="card guarantee-card text-center mb-4">
				<div class="card-header bg-secondary py-3">
					<h3 class="text-white mb-0">The Vidalta Guarantee</h3>
				</div>
				<div class="card-body">
					<div class="icon-note icon-note_block xl">
						<i class="material-symbols-outlined">verified</i>
						<h4>Book with confidence</h4>
						<p>Each one of <span class="color-primary fw-bold">Vidalta</span> properties is quality checked by our expert team to ensure your trust and satisfaction.</p>
					</div>
				</div>
			</div>
			<!-- /.guarantee-card -->
			<div class="card map-card text-center mb-4">
				<div class="card-header bg-light py-3">
					<h3 class="mb-0">Property Location</h3>
				</div>
				<div class="card-body">
					<iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d126928.27077759069!2d-75.47101846755231!3d6.1964444000000105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNsKwMTEnNDcuMiJOIDc1wrAyNCcwNS41Ilc!5e0!3m2!1sen!2sus!4v1693350716844!5m2!1sen!2sus" width="600" height="450" style="border:0; width:100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
			<!-- /.map-card -->
		</div>
		<!-- /.app-content_sidebar --> 
	</div>
	<!-- /.app-content_layout -->
	<div class="product-detail_extras pb-4 mb-4 border-bottom">
		<h3>Local Travel Guide</h3>
		<div class="row">
			<h4>Things to do &amp; Restaurants in Rionegro</h4>
			<div class="col-6 col-md-3 mb-4">
				<div class="product-card product-card_spotlight">
					<div class="row g-0">
						<div class="card-image cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/cabin-in-mountains_rionegro.jpeg" alt="{Product Name}">
							</div>
						</div>
						<!-- /.card-image -->
						<div class="card-data">
							<div class="card-data_body">
								<a href="#product-detail" class="product-card_link stretched-link">
									<h5 class="product-title">Beautiful Cabin in Mountains</h5>
								</a>
							</div>
							<!-- /.card-data_body -->
						</div>
						<!-- /.card-data -->
					</div>
					<!-- /.row.g-0 -->
				</div>
				<!-- /.product-card_spotlight -->
			</div>
			<!-- /.col-6 -->
			<div class="col-6 col-md-3 mb-4">
				<div class="product-card product-card_spotlight">
					<div class="row g-0">
						<div class="card-image cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/key-west-in-orlando_home.jpeg" alt="{Product Name}">
							</div>
						</div>
						<!-- /.card-image -->
						<div class="card-data">
							<div class="card-data_body">
								<a href="#product-detail" class="product-card_link stretched-link">
									<h5 class="product-title">Key West House in Orlando</h5>
								</a>
							</div>
							<!-- /.card-data_body -->
						</div>
						<!-- /.card-data -->
					</div>
					<!-- /.row.g-0 -->
				</div>
				<!-- /.product-card_spotlight -->
			</div>
			<!-- /.col-6 -->
			<div class="col-6 col-md-3 mb-4">
				<div class="product-card product-card_spotlight">
					<div class="row g-0">
						<div class="card-image cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/oasis-in-st-pete_boat.jpeg" alt="{Product Name}">
							</div>
						</div>
						<!-- /.card-image -->
						<div class="card-data">
							<div class="card-data_body">
								<a href="#product-detail" class="product-card_link stretched-link">
									<h5 class="product-title">Oasis Catamaran in St. Pete</h5>
								</a>
							</div>
							<!-- /.card-data_body -->
						</div>
						<!-- /.card-data -->
					</div>
					<!-- /.row.g-0 -->
				</div>
				<!-- /.product-card_spotlight -->
			</div>
			<!-- /.col-6 -->
			<div class="col-6 col-md-3 mb-4">
				<div class="product-card product-card_spotlight">
					<div class="row g-0">
						<div class="card-image cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/finca_rionegro.jpeg" alt="{Product Name}">
							</div>
						</div>
						<!-- /.card-image -->
						<div class="card-data">
							<div class="card-data_body">
								<a href="#product-detail" class="product-card_link stretched-link">
									<h5 class="product-title">Family Home on the Hills</h5>
								</a>
							</div>
							<!-- /.card-data_body -->
						</div>
						<!-- /.card-data -->
					</div>
					<!-- /.row.g-0 -->
				</div>
				<!-- /.product-card_spotlight -->
			</div>
			<!-- /.col-6 -->
		</div>
	</div>
	<!-- /.product-detail_extras -->
</div>
<!-- /.product-detail_container -->
<!-- Modal -->
<div class="modal fade" id="productImageGallery_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="productImageGallery_modalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="productImageGallery_modalLabel">Beautiful Cabin in Mountains of Rionegro</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body thumbnail-gallery">
				<div class="row g-2">
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/0d41b4c7-205d-4838-b2f7-725186736638.jpeg" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/2e87dd8b-1552-4424-b923-32a839bb906f.jpeg" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/4e452982-0a38-4841-982c-728db864a007.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/4fec0d8c-b77c-44e5-aa3e-42294c65bc9a.jpeg" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/5d6cdd4e-6a3e-4465-85ec-abc0ae3fcbca.jpeg" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/6a75b0f4-9a2e-4426-8e1b-8384e0cf03cc.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/6c457734-73b0-4bfd-96e0-8e8c56bba424.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/6ffea2aa-6f68-4432-9a7f-05f73e196db6.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/8d9f53a1-ba5d-40f3-88f0-874a3075100f.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/9deedd44-3e1e-48c7-8eb8-3826e5980e68.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/43c2e2f1-9125-4db5-94d3-7289b956ec66.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/51b6a1e1-c352-4e59-9832-e9d82b8dc491.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/053a3440-ac0c-4542-aa9b-47ad4367e2a5.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/59c1abd7-642d-42c4-a113-5aa6dfebb573.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/61d04d56-fb7c-4ec7-a7b9-15d51d769b27.jpeg" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/76e2b870-2e05-4467-81d6-15c55d3b864c.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/88e60577-0512-4bba-8668-4e3ecbcc98f1.jpeg" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/93e8d07d-4356-4938-add0-16ef2bc11a76.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/150ad203-1b4b-4959-ba90-fd27d00e5638.jpeg" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/345d1433-0297-4b8f-af13-6bd5bab56405.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/415d2132-da35-4246-94b5-4f2dc73477c6.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/595c8815-db5a-4677-8587-4ed902d5d234.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/707f5f91-9b5a-4b8d-bfe9-b5fbb02bbb53.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/1276e624-2948-498b-9840-fb3b192788af.jpeg" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/04888fea-5ca1-4d2a-90d2-187a9231d280.jpeg" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/6304e92d-459d-4cce-b76e-1f2ce03b864e.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/9052c72a-8200-42cc-a0d1-cf0c31a05ac5.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/363612f8-bd3e-4422-844f-ab4d929766c0.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/876867ee-31c5-435e-8f82-6d67483b7a1f.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/936418fc-aeb2-4624-adef-af94ab05285d.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/18367260-f918-485c-9a62-75f11b3f5f06.jpeg" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/a5bcf451-019d-4e6b-8907-a0aa65766cd7.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/af19f782-5294-42f5-83a1-e7b2dd5c75af.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/b0d0d4d5-51ff-45f6-8450-1b96a21a5edf.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/bc074883-fef7-48a3-a869-d695d3723ea6.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/c0e390e4-90e1-4e91-a7cc-21c59ba5bd23.jpeg" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/c37dee20-8852-4a90-9df6-05f9e108fdb0.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/cca4fd62-d36c-49ea-a6b4-0e1cfd4574e0.jpeg" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/d2c89075-289c-4343-a141-02f43d672bdb.jpeg" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/d8bae92e-8513-4b5a-86f6-10ae1fdd86ec.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/d0791d60-f0e1-4d7d-a8e9-534e8246d8a5.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/df0e323c-0055-4513-8c7f-0a2643433ac3.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/e21e589f-369f-471f-bf14-cc437f94db87.jpeg" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/e1712c5a-f3db-456f-9047-d1d69db1653b.jpeg" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/e25908c2-27ef-4ea6-b03e-5ff2bbada335.jpeg" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/ec55cd16-42fd-47f0-b17b-9abc6fef0669.jpeg" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/f1dfd5f5-6d7e-4646-b198-2e49465137a7.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/f112a342-eef2-4437-bb09-40c04371549e.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
					<div class="col-6 col-sm-4 col-md-3">
						<div class="cropped-img">
							<div class="img-wrapper">
								<img class="img-object" src="assets/img/product/rionegro_cabin/fba46e2b-ac0f-44b8-b352-000ce20205f1.webp" alt="{Product Name}" onclick="openLightbox(this)">
							</div>
						</div>
					</div>
					<!-- /.col-6.col-sm-4.col-md-3 -->
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary_outline" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- /#productImageGallery_modal -->
<!-- Lightbox Overlay -->
<div class="lightbox-overlay" id="lightbox">
	<img src="" alt="lightbox image" id="lightbox-img">
	<span class="close cursor" onclick="closeLightbox()">&times;</span>
	<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
	<a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>