<section class="feature-section media-right mb-5">
  <div class="row">
    <div class="col-12 col-md-6 order-md-last">
      <div class="cropped-img h-100">
        <div class="img-wrapper">
          <img
            src="assets/img/vidalta_vision.png"
            class="img-fluid rounded"
            alt="Vidalta Vision: house on a hill overlooking the ocean"
          />
        </div>
      </div>
    </div>
    <!-- /.col-12 col-md-6 order-md-last -->
    <div class="col-12 col-md-6">
      <h2 class="pt-3">Our Vision</h2>
      <p>
        <span class="fw-bold color-primary">Vidalta’s</span> dream is to change
        the way people think about vacation home rentals. We want to provide an
        amazing, first-class experience that blends luxury, comfort, and a
        genuine feel of the local culture.
      </p>
      <p>
        Our goal is to be the #1 choice for travelers in search of hassle-free,
        memorable vacations. Our rentals, more than just beautiful homes, embody
        the spirit of local life, lending a unique touch to every trip. We’re
        dedicated to surpass expectations and redefine what a vacation home can
        be. Our commitment is to transform each vacation into an exceptional,
        unforgettable journey.
      </p>
    </div>
    <!-- /.col-12 col-md-6 -->
  </div>
  <!-- /.row -->
</section>
<!-- /.feature-section media-right -->
